<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Skinner Report</title>
    <style type="text/css">
        table {
            border-collapse: separate;
        }
        th {
            text-align: left;
        }
        td {
            padding: 0.5em;
        }
        tfoot {
            padding-top: 1em;
        }
    </style>
</head>
<body>
    <h1>Skinner Report</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Chat link</th>
            <th>Type</th>
            <th>Rarity</th>
            <th>Buy/Sell</th>
        </thead>
        <tbody>
        {% for rec in recs %}
            <tr>
                <td>{{ rec["name"] }}</td>
                <td>{{ rec["chat"] }}</td>
                <td>{{ rec["type"] }} / {{ rec["subtype"] }}</td>
                <td>{{ rec["rarity"] }}</td>
                <td>{{ rec["buy"] }} / {{ rec["sell"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Total</th>
                <th>{{ totalbuy }} / {{ totalsell }}</th>
            </tr>
        </tfoot>
    </table>
</body>
</html>